---
import tower from "../assets/rapunzel_cliparts/tower.webp";
import flowers from "../assets/rapunzel_cliparts/flower_arangement.webp";
import r_c3 from "../assets/rapunzel_cliparts/rapunzel_combo3.webp";
import pascal from "../assets/rapunzel_cliparts/pascal1.webp";
import maximus from "../assets/rapunzel_cliparts/maximus.webp";
---

<main class="section">
  <p
    class="text-3xl text-center my-5 w-3/4 mx-auto cursive font-black text-primary text-pretty"
  >
    Acompáñame a festejar mi cumpleaños
  </p>
  <div class="relative flex items-center justify-center">
    <img
      src={r_c3.src}
      alt="Rapunzel"
      class="w-44 mt-3 absolute left-2 animate__animated animate__fadeIn"
      loading="lazy"
    />
    <h3
      class="font-black text-[12rem] cursive block text-secondary z-10 leading-none drop-shadow-[0_4px_6px_rgba(218,73,141,0.8)]"
      id="years"
    >
      0
    </h3>
  </div>
  <h2 class="cursive text-7xl ml-5 text-primary animate__animated animate__fadeIn">
    Mariana <br />
    <span class="ml-5">Valentina</span>
  </h2>
  <div class="flex mt-5">
    <img
      src={pascal.src}
      alt="Pascal"
      class="size-16 aspect-square -scale-x-[1] animate__animated animate__fadeIn"
      loading="lazy"
    />
    <div
      class="ml-3 grid gap-x-3 text-secondary"
      style="grid-template-columns: auto auto;"
    >
      <span class="cursive text-7xl" id="day">0</span>
      <span class="cursive text-[44px] leading-none"
        >Febrero <br /> <span class="text-3xl" id="year">2025</span></span
      >
      <span></span>
    </div>
  </div>
  <img
    src={maximus.src}
    alt="Maximus"
    class="absolute bottom-0 -left-11 -z-10 h-44 -scale-x-[1] animate__animated animate__fadeIn"
    loading="lazy"
  />
  <img
    src={flowers.src}
    alt="Flores"
    class="absolute top-0 -right-20 -z-10 h-screen opacity-50"
    loading="lazy"
  />
  <img
    src={tower.src}
    alt="Torre"
    class="absolute bottom-0 -right-6 -z-10 h-80 animate__animated animate__fadeIn"
    loading="lazy"
  />
</main>
<script>
  import { animateNumbers } from "../helpers/animations"

  const $years = document.getElementById("years");
  const $day = document.getElementById("day");

  animateNumbers(0, 4, $years);
  animateNumbers(0, 15, $day);

</script>
